.bulk-translate-save .button {
	margin-right: 20px;
}

#wpbody-content #pll-translate fieldset {
	display: inline-block;
	width: 300px;
}

#pll-translate .pll-translation-flag {
	margin-right: 0.3em;
}

#pll-translate .title {
	display: block;
	margin: 0.2em 0;
	line-height: 2.5;
}
